.navbar-container1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    /* height: 10vh; */
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    top: 0;
    z-index: 999;
    padding: 10px;
}

.logo{
   height:65px;
   width: 75px;
}

.left1{
    display: flex;
    align-items: center;
}

.right1{
    display: flex;
    align-items: center;;
}

.line {
    height: 24px;
    width: 1px;
    background-color: #000;
    margin: 0 10px;
  }

  .title{
    margin-bottom: 0px;
  }